@page "/Pdi"
@using BlazorDAL.Models;
@using BlazorDAL;
@using BlazorUI.Api;
@using BlazorUI.Components.Pdi;
@using Microsoft.AspNetCore.Components.WebAssembly.Services;
@inject DialogService dialogService;
@attribute [Authorize]
<PageTitle>Pdi</PageTitle>
<RadzenCard style="display: flex; align-items: center; gap: 0.5rem;background-color:#c6c3c6;">
    <div class="m-auto">
        <RadzenCard class="mx-auto " style="display: flex; text-align:end; align-items:end; gap: 0.6rem;background-color:#c6c3c6;">
            <div class="container">
                <div class="row float-end">
                    <div class="col-6">
                        <RadzenButton Text="Ekle" Style="border-radius:20px;" ButtonStyle="ButtonStyle.Success" Click="@(()=>OpenPdiDlg(null,"create"))" Icon="add_circle_outline"></RadzenButton>
                    </div>
                    <div class="col-6">
                        <RadzenButton Text="Yenile" Style="border-radius:20px;" ButtonStyle="ButtonStyle.Primary" Click="@(()=>GetAll())" Icon="refresh"></RadzenButton>

                    </div>
                </div>
            </div>
        </RadzenCard>
        <RadzenDataGrid @ref="radzenDataGrid"
                        FilterText="Ara..."
                        AllowFiltering="true"                   
                        AllowAlternatingRows="false"
                        FilterMode="FilterMode.Simple"
                        AllowSorting="true"
                        AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left"
                        Data="@pdiDto"
                        TItem="PdiDto"
                        class="tp-datatable tp-table-fixed"
                        Style="background-color:#c6c3c6; --rz-cell-filter-width:20px"
                        GridLines="DataGridGridLines.Both"
                        SelectionMode="DataGridSelectionMode.Single"
                        Density="Density.Compact"
                        >
            <Columns>

                <RadzenDataGridColumn TItem="PdiDto" Filterable Property="EN_COIL_ID" Title="Bobin Numarası" Width="50px" />
                <RadzenDataGridColumn TItem="PdiDto" Property="IN_DIA" Title="İç Çap" Width="50px" />
                <RadzenDataGridColumn TItem="PdiDto" Property="OUT_DIA" Title="Dış Çap" Width="50px" />
                <RadzenDataGridColumn TItem="PdiDto" Property="THICKNESS" Title="Kalınlık (mm)" Width="50px" />
                <RadzenDataGridColumn TItem="PdiDto" Property="WIDTH" Title="Genişlik (cm)" Width="50px" />
                <RadzenDataGridColumn TItem="PdiDto" Property="LENGTH" Title="Uzunluk (m)" Width="50px" />
                <RadzenDataGridColumn TItem="PdiDto" Property="OIL_WEIGHT" Title="Ağırlık (kg)" Width="50px" />
                <RadzenDataGridColumn TItem="PdiDto" Property="EN_COIL_ID" Title="İşlemler" Width="50px">
                    <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="pageview" class="h-25 m-1" Click="@(()=>OpenPdiDlg(data.EN_COIL_ID,"update"))" />
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="delete" class="h-25 m-1" Click="@(()=>DeletePdi(data))" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="list" class="h-25 m-1" Click="@(()=>ChangePdiStatus(data.EN_COIL_ID))" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
            </RadzenDataGrid>
        </div>
        </RadzenCard>
        @code {
    List<PdiDto> pdiDto = new List<PdiDto>();
    RadzenDataGrid<PdiDto>? radzenDataGrid;
    [Inject]
    PdiApi pdiApi { get; set; }
    bool first = false;
    //public PdiDto lazyParams = new PdiDto { };
    protected override async Task OnInitializedAsync()
    {
        await GetAll();
        

    }
    async Task OpenPdiDlg(string enCoilId, string dlgType)
    {
        DialogOptions dialogOptions = new DialogOptions
            {
                Width = "1000px",
                Height = "650px",
                ShowTitle = true,
            };

        Dictionary<string, object> dict = new Dictionary<string, object>()
        {
            {"EnCoilId",enCoilId},
            {"dlgType",dlgType}
        };
        var dialogTitle = (dlgType == "create" ? "Bobin Ekle" : (enCoilId + " Bobinini Düzenle"));
        await dialogService.OpenAsync<PdiDlg>(dialogTitle, dict, dialogOptions);

    }
    async Task GetAll()
    {
        pdiDto = await pdiApi.GetPdiList();
    }
    async void DeletePdi(PdiDto pdi)
    {
        var result = await dialogService
        .Confirm(pdi.EN_COIL_ID + " bobinini silmek istiyor musunuz?", "Uyarı",
        new ConfirmOptions { OkButtonText="Evet", CancelButtonText="Hayır" });
        if (result == true)
        {
            await pdiApi.DeletePdi(pdi);
           await GetAll();
        }

    }
    async void ChangePdiStatus(string coilId)
    {
        DialogOptions dialogOptions = new DialogOptions
            {
                Width = "330px",
                Height = "310px",
                ShowTitle = true,
                CssClass = "rounded-1"
            };
        Dictionary<string, object> dict = new Dictionary<string, object>()
        {
            {"coilId",coilId},
        };
        var result = await dialogService.OpenAsync<PdiStatusDlg>("Bobin Durumu Değiştir", dict, dialogOptions);
        if (result == true)
        {
           await GetAll();
        }

    }
    /*async void OnFilter(DataGridColumnFilterEventArgs<PdiDto> args)
    {
        lazyParams.Page = 1;
        lazyParams.First = 0;
        lazyParams.Rows = 20;
        lazyParams.TotalRecords=20;
        lazyParams.SortOrder =(int)(args.Column.SortOrder.Value);
        lazyParams.SortField = args.FilterValue.ToString();
        //await GetAll();
    }*/
    /*void RowRender(RowRenderEventArgs<PdiDto> args)
    {
        if (args.Data.CustomerOrderStatusName == "Sipariş Oluşturuldu")
        {
            args.Attributes.Add("style", $"background-color:red");
        }
    }*/
}
